@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
  margin: 0;
  font-family: 'Nerko One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: $white;

  * {
    box-sizing: border-box;
  }
}

.portfolio {
  padding-block-start: $header_height_mobile;
  height: 1000vh;

  @media (min-width: $tablet) {
    padding-block-start: $header_height;
  }
}
