@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
  margin: 0;
  font-family: 'Nerko One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: $white;

  * {
    box-sizing: border-box;
  }
}
