@import '../../styles/settings.scss';

.header {
  position: fixed;
  top: 0;
  left: 0  ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header_height_mobile;
  padding: 0 1rem;
  box-shadow: 0px 3px 6px #00000029;

  @media (min-width: $tablet) {
    height: $header_height;
    padding: 0 1rem;
  }

  @media (min-width: $desktop) {
    height: $header_height;
    padding: 0 2rem;
  }

  @media (min-width: $large_desktop) {
    padding: 0 $header_height;
  }
}

.logo {
  height: 95%;
  width: auto;
  cursor: pointer;
}

.navigation {
  height: 100%;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  text-decoration: none;
  color: $grey;

  &:not(:last-child) {
    margin-inline-end: 1rem;
  }

  @media (min-width: $desktop) {
    font-size: 1.75rem;

    &:not(:last-child) {
      margin-inline-end: 2rem;
    }
  }

  @media (min-width: $large_desktop) {
    font-size: 2rem;

    &:not(:last-child) {
      margin-inline-end: 5rem;
    }
  }
}

.social_links {
  @extend .navigation;
}

.social_link {
  @extend .link;
  width: 2rem;

  &:not(:last-child) {
    margin-inline-end: 1rem;
  }

  @media (min-width: $large_desktop) {
    &:not(:last-child) {
      margin-inline-end: 3rem;
    }
  }
}


.social_icon {
  width: auto;
  height: 2rem;
}
